.grid--products{
    width: 40em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.grid--products--container{
    // justify-content: center;
    // padding: 16;
}

.products--card{
    // width: 450;
}

.products--main-image{
    height: 10em;
    width: 8em;
}